.artigo{
    border: 1px solid var(--azul);
    background-color: var(--azul_claro);
    width: 388px;
    height: 187px;
}

@media screen and (max-width: 744px){
    .artigo{
        width: 200px;
        height: 297px;
    }
}

@media screen and (max-width: 320px){
    .artigo{
        width: 288px;
        height: 137px;
    }
}